@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.medievalsharp-regular {
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  
  html, body {
    background-color: #000; /* Set the background color to black */
    margin: 0;
    padding: 0;
    height: 100%;

  }
  
 
  #app {
    background-color: black;
    color: #00ff00; /* Optional: Green color for text, matching your neon theme */
    height: 100%;
  }
  

  